@font-face {
    font-family: my-cool-font;
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;

    font-family: my-cool-font;
}

:root {
    --yellow: hsl(47, 88%, 63%);

    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

body, main {
    background-color: var(--yellow);
}

.presentation-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 30px;
    margin: 0 20px;
    width: 400px;
    gap: 20px;

    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid var(--black);
    box-shadow: 10px 10px 0 black;
    background-color: var(--white);
}

.presentation-card img {
    border-radius: 16px;
    width: 100%;
}

.category {
    font-weight: bold;

    border-radius: 8px;
    padding: 10px;
    margin-right: auto;

    background-color: var(--yellow);

}

.blog-title {
    text-decoration: none;
    color: var(--black);
}

.blog-title:hover {
    color: var(--yellow);
}

.blog-definition {
    color: var(--grey);
}

.author{
    margin-right: auto;

    display: flex;
    align-items: center;
    gap: 10px;

    font-weight: bold;
}

.author img {
    width: 30px;
}

footer{
    flex: 0;
    margin: 6px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
