* {
    margin: 0;
    padding: 0;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --background1: white;

    --background_header: #f77;

    --fontcolor_default: #000;
    --fontcolor_link: #333;

    --border_color_project: #222;
}

.frontendmentor {
    --background_card: #f77;
    
}

.odin-project {
    --background_card: #8f5;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: var(--background1);
    color: var(--fontcolor_default);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    padding: 15px;
    background-color: var(--background_header);

    border-bottom: 3px solid black;
}

.header_logo {
    font-size: 1.4em;
    font-weight: bold;
}

.header_list_links {
    display: flex;
    gap: 30px;
}

.main_text {
    text-align: center;
    padding: 10px;
}

.main_text h1 {
    font-size: 3em;
}

.main_text h2 {
    font-size: 2em;
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin: auto;
}

.footer_p {
    margin: 10px 3px;
}

a {
    text-decoration: none;
    color: var(--fontcolor_link);
}



.what_is {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 1.4em;
}

.all_projects {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 20px;
}

.my_project {
    --color_card: red;

    display: flex;
    align-items: center;
    
    border-radius: 12px;
    border: 3px var(--border_color_project) solid;
    border-left: 8px var(--color_card) solid;

    height: 150px;
    margin: 10px 0;
}

.text_project {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project_image {
    object-fit: cover;
    width: 100px;
    height: 100px;

    margin: 20px;
}

.project_link {
    margin-right: auto;
    padding: 5px;

    border: 1px solid black;
    border-radius: 8px;
    background-color: var(--background_header);
}

.project_link:hover {
    background-color: #8f5;
}